@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif; /* Default font */
  background-color: #0f0f0f; /* Default dark background */
  color: #f1f1f1; /* Default light text color for dark mode */
}

.custom-scrollbar::-webkit-scrollbar {
  display: none; /* Hides the scrollbar visually */
  width: 0; /* Ensures no width is taken by the scrollbar */
  background: transparent; /* Makes the scrollbar track transparent */
}

/* Hide scrollbar for IE, Edge, and Firefox */
.custom-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
